<html lang="en">
<head>
  <%- include('partials/head'); -%>
</head>
<body class="hold-transition skin-green sidebar-mini">
  <div class="wrapper">
  <header class="main-header">
    <%- include('partials/header'); -%>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <%- include('partials/sidebar'); -%>
  </aside>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Following
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i><a href="/social">Index</a></li>
        <li>Following</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <div class="row">
        <% following.forEach(function(follow) { %>
        <a href="/social/profile?id=<%=follow.IdCard%>">
          <div class="col-md-4">
            <div class="box box-widget widget-user" >
                
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username"><%=follow.FirstName%> <%=follow.LastName%></h3>
                    <h5 class="widget-user-desc">&#64;<%=follow.Username%></h5>

                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="../images/default-user.png"  alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">420</h5>
                                <span class="description-text">EXPERIENCE</span>
                            </div>
                        </div>
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header"><%=follow.Followers%></h5>
                                <span class="description-text">FOLLOWERS</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header"><%=follow.Following%></h5>
                                <span class="description-text">REVIEWS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </a>
          <% }); %>
</div>
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <%- include('partials/footer'); -%>
  </footer>
</div>
 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min.js"><\/script>')
    </script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
    <script src="/AdminLTE/js/adminlte.min.js"></script>

</body>
</html>