<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); -%>
  <link rel="stylesheet" href="/AdminLTE/dataTables/css/jquery.dataTables.css">
</head>
<body class="hold-transition skin-green sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <%- include('partials/header'); -%>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <%- include('partials/sidebar'); -%>
    </aside>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Servicios
        </h1>
        <ol class="breadcrumb">
          <li><i class="fa fa-dashboard"></i> Index</a></li>
        </ol>
      </section>

      <!-- Main content -->
      
      <!-- /.content -->

      <section class="content container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="box box-solid box-primary">
              <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Servicios</h3>
              </div>
              <div class="box-body" style="overflow-y: auto; max-height: 252px;" data-example-id="list-group-btns">
                 <table id="servicesTable">
                     <thead>
                          <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio</th> 
                            <th>Estado</th>
                             <td align="center"> </td>
                           </tr>
                         </thead>

                  <% services.forEach(function(item) { %>
                          <tr>
                            <td><%=item.idService%></td>
                            <td><%=item.nombre%></td>
                            <td><%=item.precio%></td>                            
                              <% if(item.status == true){ %>
                              <td><button style ="padding: 6px 17px;" type="button"  onclick="setServiceStatus(<%=item.idService%>, <%=item.status%>)" class="btn btn-success">Activo  </button> </td>
                              <% } else{ %>                              
                              <td><button type="button" onclick="setServiceStatus(<%=item.idService%>, <%=item.status%>)" class="btn btn-danger">Inactivo</button></td>
                              <% } %>
                              
                              <input type="hidden" name="name_category" id="name_category_<%=item.idService%>" value="<%=item.nombre%>">                            
                            <td><!--<span class="glyphicon glyphicon-remove pull-right" onclick="deleteCategory(<%=item.IdCategory%>)" ></span>--></td>
                          </tr>
                  <% }); %>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>




    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <%- include('partials/footer'); -%>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min.js"><\/script>')
  </script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/AdminLTE/js/adminlte.min.js"></script>
  <script src="/AdminLTE/js/edit-service-admin.js"></script>
  <script src="/AdminLTE/dataTables/js/jquery.dataTables.js"></script>

</body>
</html>