<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
 <div id="all">
    <header>
       <%- include('partials/header'); -%>
    </header>

<div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Shopping Cart</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>Shopping Cart</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <div class="row">
                  <!-- Products-->
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>  </th>
                          <th> Details </th>
                          <th class="text-right"> Price </th>
                          <th> </th>
                        </tr>
                      </thead>
                      <tbody>
                        <!--Product 1-->
                        <% cartContent.forEach(function(item) { %>

                          <tr>
                            <td style="width: 10%;"> <img class="img-thumbnail image1" src="images/product1.jpg" alt=""  /> </td>
                            <td>
                              <h4> <%=item.nombre %> </h4>
                              <p>
                                <%=item.descripcion %>
                              </p>
                            </td>
                            <td> <div class="text-right">$<%=item.precio %></div> </td>
                            <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
                          </tr>

                        <% }); %>

                        <!-- Total -->
                        <tr>
                          <th></th>
                          <th></th>
                          <th class="text-right">
                            <b>Subtotal (<%=cartContent.length%> Items): $<%=subtotal%></b>
                            <br />
                            <button class="btn btn-warning"> Proceed to checkout </button>
                          </th>
                          <th></th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- END Products -->
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    <footer>
        <%- include('partials/footer'); -%>
    </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min.js"><\/script>')
    </script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="javascripts/jquery.cookie.js"></script>
    <script src="javascripts/waypoints.min.js"></script>
    <script src="javascripts/jquery.counterup.min.js"></script>
    <script src="javascripts/jquery.parallax-1.1.3.js"></script>
    <script src="javascripts/front.js"></script>
    <script src="javascripts/js.cookie.js"></script>

    <!-- owl carousel -->
    <script src="javascripts/owl.carousel.min.js"></script>
    <script src="javascripts/signUp/signUp.js"></script>

</body>
</html>
