<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
 <div id="all">
    <header>
       <%- include('partials/header'); -%>
    </header>

    <!-- *** HOMEPAGE CAROUSEL *** -->

            <div class="row">
                <div class="col-md-12">
                    <div id="Mapau" style="width: 100%; height: 666px;"></div>
            </div>

            <% establecimientos.forEach(function(item)  {%>

            <input type="hidden" class="info_local" value="<%= item.idEstablishment %>" data-lat="<%= item.latitud %>" data-lng="<%= item.longitud %>"/>
            <div class="hidden" id="content_<%= item.idEstablishment %>">
                    <h3><%= item.nombre %></h3>
                    <p><%= item.descripcion %></p>
            </div>
            <% }); %>

            </div>

<!-- *** HOMEPAGE CAROUSEL END *** -->

    <footer>
        <%- include('partials/footer'); -%>
    </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min.js"><\/script>')
    </script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="javascripts/index.js"></script>
    
    <script src="/AdminLTE/js/jquery.geocomplete.js"></script>
    <script src="/AdminLTE/js/jquery.geocomplete.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyACKCmiFSETqUlePLoEjdiDAv3huM58KJU"></script>

    <script src="javascripts/jquery.cookie.js"></script>
    <script src="javascripts/waypoints.min.js"></script>
    <script src="javascripts/jquery.counterup.min.js"></script>
    <script src="javascripts/jquery.parallax-1.1.3.js"></script>
    <script src="javascripts/front.js"></script>
    <script src="javascripts/js.cookie.js"></script>
</body>
</html>