<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>

    <script>
      var app1 = angular.module('app1', []);
      app1.controller("ctrl", function($scope, $http){
        // Trae los servicios
        $http.get("http://localhost:51336/api/Product/")
        .then(function(response){
          $scope.services = response.data;
        });

        // Agrega un producto al carrito
        <%if (IdCard != null){%>
        var userId = <%=IdCard%>;
        $scope.addToCart = function(productId){
          $http.post("http://localhost:51336/api/Cart/" + userId + "/" + productId + "/")
          .then(function(response){
            alert("El producto ha sido agregado al carrito!");
          });
        }
        <%} else {%>
        $scope.addToCart = function(productId){
          if (confirm("Debe autenticarse para agregar productos al carrito. \nDesea autenticarse?")){
            window.location.href = "http://localhost:3000/signUp";
          }
        };
        <%}%>

        $scope.viewService = function(serviceId){
          window.location.href = "http://localhost/store/service/" + serviceId;
        }

      });

    </script>

</head>
<body ng-app="app1" ng-controller="ctrl">
 <div id="all">
    <header>
       <%- include('partials/header'); -%>
    </header>

<div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Tienda</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>Tienda</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">

                <div class="row">


                    <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

                    <div class="col-sm-3">

                        <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Categories</h3>
                            </div>

                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked category-menu">
                                    <li>
                                        <ul>
                                            <% if (Array.isArray(categories)){%>
                                            <% categories.forEach(function(category) { %>
                                            <li><a href="#"> <%= category.Name %></a></li>
                                            <% }); }%>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
            _________________________________________________________ -->

                    <div class="col-sm-9">

                        <div class="row products">

                            <div class="col-md-4 col-sm-6" ng-repeat="service in services">
                                <div class="product">
                                    <div class="image">
                                        <a href="/store/service/{{service.idService}}">
                                            <img src="images/product1.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <!-- /.image -->
                                    <div class="text">
                                        <h3><a href="/store/service/{{service.idService}}">{{service.nombre}}</a></h3>
                                        <p class="price">${{service.precio}}</p>
                                        <div class="btn-group">
                                            <button ng-click="addToCart(service.idService)" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                    <!-- /.text -->
                                </div>
                                <!-- /.product -->
                            </div>

                        </div>
                        <!-- /.products -->

                        <div class="row">

                            <div class="col-md-12 banner">
                                <a href="#">
                                    <img src="images/banner2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>

                        </div>


                        <div class="pages">

                            <p class="loadMore">
                                <a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
                            </p>

                            <ul class="pagination">
                                <li><a href="#">&laquo;</a>
                                </li>
                                <li class="active"><a href="#">1</a>
                                </li>
                                <li><a href="#">2</a>
                                </li>
                                <li><a href="#">3</a>
                                </li>
                                <li><a href="#">4</a>
                                </li>
                                <li><a href="#">5</a>
                                </li>
                                <li><a href="#">&raquo;</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


    <footer>
        <%- include('partials/footer'); -%>
    </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min.js"><\/script>')
    </script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="javascripts/jquery.cookie.js"></script>
    <script src="javascripts/waypoints.min.js"></script>
    <script src="javascripts/jquery.counterup.min.js"></script>
    <script src="javascripts/jquery.parallax-1.1.3.js"></script>
    <script src="javascripts/front.js"></script>
    <script src="javascripts/js.cookie.js"></script>

    <!-- owl carousel -->
    <script src="javascripts/owl.carousel.min.js"></script>
    <script src="javascripts/signUp/signUp.js"></script>

</body>
</html>
